@model Hypnofrog.ViewModels.SettingsModel
@{
    Layout = null;
}


<style>
    .autocomplete {
        position: absolute;
        cursor: default;
        z-index: 999999999999;
    }

    .ui-front {
        z-index: 999999999;
    }
</style>


<div class="modal-body" style="width:600px; left:30%;">
    <div class="confirm">
        <h3>@Resources.Resource.sitesettings</h3>
        <p></p>
        @using (Ajax.BeginForm("SettingsConf", "Home", new { }, new AjaxOptions() { }, new { @style = "margin: 25px 10px 40px 30px;" }))
        {
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <label>
                                    @Resources.Resource.Name
                                </label>
                            </div>
                            <div class="col-md-10">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @placeholder = Resources.Resource.Name, @id = "sitename" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-3">
                                <label>
                                    @Resources.Resource.Description
                                </label>
                            </div>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Description, new { @class = "form-control", @placeholder = Resources.Resource.Description, @id = "sitedescription" })
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="btn-group col-md-12 checkbox col-lg-offset-1">
                                <label>@Html.CheckBoxFor(x => x.CommentsAvailable, new { @id = "chbox" }) @Resources.Resource.comments</label>
                            </div>
                        </div>
                        <label for="basic-url">@Resources.Resource.Tags</label>
                        @Html.TextAreaFor(x=>x.CurrentTags, new { @class="tag-editor-hidden-src", @id="tagsarea"})
                        <label for="basic-url">@Resources.Resource.urltoaccess</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">/users/@Model.UserId/</span>
                            @Html.TextBoxFor(x=>x.Url, new { @class="form-control", @id="basic-url", @aria_describedby="basic-addon3"})
                        </div>
                    </div>
                </div>
            </div>
                <button id="approve-btn" type="button">@Resources.Resource.cancel</button>
                <button id="confirm-btn" type="submit">@Resources.Resource.confirm</button>
        }
    </div>
</div>



<script type="text/javascript">
    var tags = '@Model.Tags';
    tags = tags.split(';')
    for (i = 0; i < tags.length; i++) {
        tags[i] = tags[i].split(',')[0];
    }
    var inittags = '@Model.CurrentTags';
    inittags = inittags.split(',');
    $('#tagsarea').tagEditor({
        initialTags: inittags,
        autocomplete: {
            delay: 0,
            source: tags
        },
        forceLowercase: false,
        placeholder: '@Resources.Resource.Tags'
    });

    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
        $('#confirm-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
