@model IEnumerable<Hypnofrog.DBModels.Site>
@using Microsoft.AspNet.Identity

@if (Model.Count() > 0)
{
    for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class='courses cards'>
            @for (int j = i; (j < i + 3) && (j < Model.Count()); j++)
            {
                <div class='course'>
                    <div class="imageratingcontainer" style="position: relative; z-index: 1000">
                        @if (User.Identity.IsAuthenticated && ViewBag.Email != User.Identity.Name)
                        {
                            <input id="input-@j" class="rating rating-loading" data-show-clear="false" data-show-caption="false" value="@Model.ElementAt(j).Rate" data-min="0" data-max="5" data-step="1" data-size="xs" />
                        }
                        else
                        {
                            <input id="input-@j" class="rating rating-loading" data-readonly="true" data-show-clear="false" data-show-caption="false" value="@Model.ElementAt(j).Rate" data-min="0" data-max="5" data-step="1" data-size="xs" />
                        }
                        <div id="results-@j" style="text-align: center;color: white;background-color: cornflowerblue;"></div>
                        <div class='blur asset'>
                            <script type="text/javascript">

                                $('#input-@j').on('rating.change', function (event, value, caption) {
                                    console.log(value);
                                    $('#results-@j').load("http://localhost:61065/Home/UpdateRating?userid=@User.Identity.GetUserId()&siteid=@Model.ElementAt(j).SiteId" + "&value=" + value);
                                });
                            </script>
                            <img src='//unsplash.it/400/150?image=@Model.ElementAt(j).SiteId'>
                        </div>
                    </div>

                    <div class='details'>
                        <div class='title'>
                            <span>Название</span>
                            <span>@Model.ElementAt(j).Title</span>
                        </div>
                        <div class='description'>
                            <span>Описание</span>
                            <span>@Model.ElementAt(j).Description</span>
                        </div>
                        <div class='language'>
                            <span>Готовность</span>
                            @if (Model.ElementAt(j).Iscomplited)
                            {
                                <span>
                                    Опубликовано
                                </span>
                            }
                            else
                            {
                                <span style="color:red"> В разработке</span>
                            }
                        </div>

                        <span class='actions'>
                            <a href="@Url.Action("PreviewSite", "Home", new { siteid = Model.ElementAt(j).SiteId }) ">
                                <i class='fa fa-eye'></i>
                            </a>
                            @if (ViewBag.Email == User.Identity.Name || User.IsInRole("Admin"))
                            {
                                <a href="@Url.Action("EditSite", "Home", new { siteid = Model.ElementAt(j).SiteId }) ">
                                    <i class='fa fa-pencil'></i>
                                </a>
                                using (Ajax.BeginForm("DeleteSite", "Home", new { siteid = Model.ElementAt(j).SiteId }, new AjaxOptions() { UpdateTargetId = "site-table" }, new { @id = "ajax-del" }))
                                {
                                    <a id="deletebutton" style="cursor:pointer;"><i class='fa fa-trash'></i></a>
                                }

                            }
                        </span>
                    </div>
                </div>
            }
        </div>
    }
}
<script type="text/javascript">
    $(function () {
        $('#deletebutton').click(function () {
            $('#ajax-del').submit();
        });
    });
</script>