@model Hypnofrog.ViewModels.SettingsModel
@{
    Layout = null;
}


<style>
    .autocomplete { position: absolute; cursor: default;z-index:999999999999;}  
    .ui-front { z-index: 999999999; }
</style>


<div class="modal-body">
    <div class="confirm">
        <h3>@Resources.Resource.sitesettings</h3>
        <p>
            @Resources.Resource.sitesettingsdesc
        </p>
        @using (Ajax.BeginForm("ChangeTemplate", "Home", new AjaxOptions() { UpdateTargetId = "tutu" }, new { id = "aform", style = "margin: 25px 10px 40px 30px" }))
            {
            <div class="form-group">
                <div class="row">
                    <div class="col-md-7">
                        <input type="text" class="form-control" placeholder="@Resources.Resource.Name" id="sitename">
                        <br />
                        <input type="text" class="form-control " placeholder="@Resources.Resource.Description" id="sitedescription">
                        <br />
                        <div class="row">
                            <label class="control-label col-md-10" for="Template">@Resources.Resource.Color:</label>
                        </div>
                        <div class="row">
                            <div class="btn-group col-md-12" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    @Html.RadioButtonFor(x => x.Color, "dark") @Resources.Resource.dark
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(x => x.Color, "white") @Resources.Resource.white
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(x => x.Color, "orange") @Resources.Resource.red
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-10 " for="Template">@Resources.Resource.Menuplacing</label>
                        </div>
                        <div class="row">
                            <div class="btn-group col-md-12" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    @Html.RadioButtonFor(x => x.Menu, "without") @Resources.Resource.nomenu
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(x => x.Menu, "horizontal") @Resources.Resource.horizontal
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(x => x.Menu, "vertical") @Resources.Resource.vertivcal
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <label class="control-label col-md-10 " for="Template">@Resources.Resource.columns</label>
                        </div>
                        <div class="row">
                            <div class="btn-group col-md-12" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    @Html.RadioButtonFor(x => x.Template, "solid") @Resources.Resource.one
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(x => x.Template, "dsolid") @Resources.Resource.two
                                </label>
                                <label class="btn btn-primary">
                                    @Html.RadioButtonFor(x => x.Template, "mixed") @Resources.Resource.mixed
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="btn-group col-md-12 checkbox col-lg-offset-1">
                                <label>@Html.CheckBoxFor(x => x.CommentsAvailable, new { @id = "chbox" }) @Resources.Resource.comments</label>
                            </div>
                        </div>
                        <label for="basic-url">@Resources.Resource.Tags</label>
                        <textarea class="tag-editor-hidden-src" id="tagsarea"></textarea>

                        <label for="basic-url">URL для доступа к сайту</label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon3">/users/@User.Identity.Name</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="tutu" class="preview col-md-12">
                            @{ Html.RenderPartial("_ColorTemplate", Model.Url);}
                        </div>
                    </div>
                </div>
            </div>
                                }
        <button id="approve-btn">@Resources.Resource.cancel</button>
        <button id="confirm-btn" type="submit">@Resources.Resource.confirm</button>
        @using (Html.BeginForm("CreateSite", "Home", FormMethod.Post, new { id = "bform", style = "margin-bottom:40px;" }))
        {
            Html.AntiForgeryToken();
            <input type="hidden" id="inputData" name="inputData" />
        }
    </div>
</div>



<script type="text/javascript">
    var tags = '@ViewBag.Tags';
    tags = tags.split(';')
    for (i = 0; i < tags.length; i++) {
        tags[i] = tags[i].split(',')[0];
    }
    $('#tagsarea').tagEditor({
        initialTags: ['Hello', 'World'],
        autocomplete: {
            delay: 0,
            source: tags
        },
        forceLowercase: false,
        placeholder: '@Resources.Resource.Tags'
    });

    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>
<script>

    $('input[name=Color]').change(function () {
        $('#aform').submit();
    });
    $('input[name=Menu]').change(function () {
        $('#aform').submit();
    });
    $('input[name=Template]').change(function () {
        $('#aform').submit();
    });
    $('#confirm-btn').click(function () {
        document.getElementById('inputData').value += document.getElementById("sitename").value+ ";";
        document.getElementById('inputData').value += document.getElementById("sitedescription").value + ";";
        document.getElementById('inputData').value += document.getElementById("basic-url").value + ";";
        document.getElementById('inputData').value += document.getElementById("chbox").checked + ";";
        var colors = document.getElementsByClassName('active');
        for (i = 0; i < colors.length; i++) 
            document.getElementById('inputData').value += colors[i].getElementsByTagName('input')[0].value + ';';
        document.getElementById('inputData').value += $('#tagsarea').tagEditor('getTags')[0].tags + ";";
        $('#bform').submit();
    });
</script>