@model IEnumerable<Hypnofrog.Models.ApplicationUser>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>
@*<table>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Email, "UserProfile",  new { userid = item.Email })
            </td>
            @if ((bool)ViewBag.IsAdmin ^ User.Identity.GetUserId() == item.Id)
            {
                <td>
                    <span>@Html.ActionLink("Удалить", "Delete", new { id = item.Id }) </span>
                    @if ((bool)ViewBag.IsAdmin)
                    {
                        <span>| @Html.ActionLink("Повысить до админа", "UpInRole", new { id = item.Id })</span>
                    }
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>*@


<table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Email
            </th>
            <th>
                Удалить
            </th>
            @if ((bool)ViewBag.IsAdmin )
                {
                <th>
                    Повысить
                </th>
            }
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @item.Id
                </td>


                <td>
                    @Html.ActionLink(item.Email, "UserProfile",  new { userid = item.Email })
                </td>
                <td>
                    @if (User.Identity.Name == item.Email)
                    {
                        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                    }
                </td>
                <td>
                    @if ((bool)ViewBag.IsAdmin)
                        {
                        @Html.ActionLink("Повысить до админа", "UpInRole", new { id = item.Id })
                }
                </td>
            </tr>
    }

    </table>