@model IEnumerable<Hypnofrog.ViewModels.UserView>
@using Microsoft.AspNet.Identity
@{ 
    ViewBag.Title = "All Users";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

<h2>@Resources.Resource.Users</h2>
<br />

<div class="users-container">
    <ul class="newlist users-list">
        <li>
            <ul id="users-list">
                @foreach (var elem in Model)
            {
                    <li>
                        <div class="user-main-level">
                            <div class="user-avatar">
                                <a href="@Url.Action("UserProfile",  new { userid = elem.UserName })">
                                    <img src="@elem.UserAvatar" />
                                </a>
                            </div>
                            <div class="user-box">
                                <div class="user-head">
                                    <span><a href="@Url.Action("UserProfile",  new { userid = elem.UserName })">@elem.UserName</a></span>
                                    @if (User.Identity.Name == elem.UserName || User.IsInRole("Admin"))
                                    {
                                        <a href="@Url.Action("Delete", new { id = elem.UserId })"><i class="fa fa-trash-o"></i></a>
                                    }
                                    @if (User.IsInRole("Admin") && !elem.IsAdmin)
                                    {
                                        <a href="@Url.Action("UpInRole",new { id = elem.UserId})"><i class="fa fa-level-up"></i></a>
                                    }
                                </div>
                                <div class="user-content">
                                    Rating: @elem.Rating
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>