@model Hypnofrog.DBModels.Site
@{
    Session["siteurl"] = Model.Url;
    Session["username"] = Model.UserId;
    ViewBag.RedactorEnable = true;
    ViewBag.Title = Model.Title;
    ViewBag.SiteId = Model.SiteId;
    Layout = Model.MenuType == "without" ? "~/Views/Shared/_LayoutWM.cshtml" :
        Model.MenuType == "vertical" ? "~/Views/Shared/_LayoutVM.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">


@using (Ajax.BeginForm("SavePage", "Home", new { }, new AjaxOptions() { UpdateTargetId = "page-redactor" }, new { @id = "ajaxform" }))
{
    @Html.AntiForgeryToken()
    <div id="page-redactor" class="fr-view">
        @{Html.RenderPartial(String.Format("_RedactPage{0}", Model.Pages.FirstOrDefault().TemplateType), Model.Pages.FirstOrDefault());}
    </div>
}

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script>
        $(function () {
            $.FroalaEditor.DefineIcon('insert', { NAME: 'plus' });
            $.FroalaEditor.RegisterCommand('insert', {
                title: 'Insert HTML',
                focus: true,
                undo: true,
                refreshAfterCallback: true,
                callback: function () {
                    this.html.insert('<table style="width: 100%;" class="highchart" data-graph-container-before="1" data-graph-type="column">' +
                    '<caption>Table example</caption>' +
                    '<thead><tr><th>Values</th><th>Counts' +
                    '</th></tr></thead><tbody><tr><td style="width: 50%;">Val1</td><td style="width: 50%;">1</td></tr>' +
                    '<tr><td style="width: 50%;">Val2<br></td><td style="width: 50%;">2</td></tr><tr><td style="width: 50%;">Val3' +
                    '<br></td><td style="width: 50%;">3</td></tr><tr><td style="width: 50%;">Val4<br></td><td style="width: 50%;">4</td>' +
                    '</tr><tr><td style="width: 50%;">Val5<br></td><td style="width: 50%;">5</td></tr></tbody></table>');
                }
            });
            $('#title').froalaEditor({
                toolbarInline: true,
                dragInline: false,
                toolbarButtons: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'color', 'align', '|', 'undo', 'redo'],
                toolbarButtonsSM: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', '-', 'color', 'align', '|', 'undo', 'redo'],
                toolbarButtonsMD: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', 'fontSize', 'color', 'align', '|', 'undo', 'redo'],
                toolbarButtonsXS: ['bold', 'italic', 'underline', 'strikeThrough', 'fontFamily', '-', 'fontSize', 'color', 'align', '|', 'undo', 'redo'],
                theme: "@ViewBag.Style",
                heightMin: 100,
                charCounterMax: 50,
                toolbarVisibleWithoutSelection: true
            });
            $('#edit1').froalaEditor({
                toolbarInline: true,
                dragInline: false,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'quote', 'insertHR', '|', 'undo', 'redo', '|', 'clearFormatting', 'selectAll', 'html', 'insertbar'],
                pluginsEnabled: null,
                theme: "@ViewBag.Style",
                heightMin: 200,
                toolbarVisibleWithoutSelection: true
            });
            $('#edit2').froalaEditor({
                toolbarInline: true,
                dragInline: false,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'quote', 'insertHR', '|', 'undo', 'redo', '|', 'clearFormatting', 'selectAll', 'html'],
                pluginsEnabled: null,
                theme: "@ViewBag.Style",
                heightMin: 200,
                toolbarVisibleWithoutSelection: true
            });
            $('#edit3').froalaEditor({
                toolbarInline: true,
                dragInline: false,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize', 'color', 'emoticons', 'inlineStyle', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', '-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'quote', 'insertHR', '|', 'undo', 'redo', '|', 'clearFormatting', 'selectAll', 'html'],
                pluginsEnabled: null,
                theme: "@ViewBag.Style",
                heightMin: 200,
                toolbarVisibleWithoutSelection: true
            });
        });
    </script>
}

