@using Resources
@model Hypnofrog.ViewModels.MainPageViewModel
@{
    ViewBag.Title = "Hypnofrog";
}

<link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<link href="~/Content/index.css" rel="stylesheet"/>

<hr/>


<style>
    body { padding-top: 50px; }
</style>
<div class="container" ng-app="app" ng-controller="IndexCtrl">
    <div class="maincontainer" style="display: flex;">
        <a href="/user/{{  model.TopUserName  }}" class="topdesignrcontainer" style="position: relative; width: 300px;">
            <div class="numberone" style="color: white; font-family: inherit; font-size: 215px; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); z-index: 1000;">#1</div>
            <img src="{{  model.FirstAvatar  }}" style="height: 300px; width: 300px;">
        </a>
        <div class="tagcloud" style="position: relative; width: 100%;">
            <canvas id="my_canvas" width="400px" height="300px" style="left: 50%; position: absolute; right: 50%; top: 50%; transform: translate(-50%, -50%);"></canvas>
        </div>
    </div>


    @*<p>
        {{model | json}}
    </p>*@
    <hr/>



    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {<div class="input-group">
        <input type="text" class="form-control" placeholder="Search..." name="searchstring">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">@Resources.Resource.Search</button>
        </span>
    </div>
    }

    <hr/>
    <h2>@Resource.TopSites</h2>
    <hr/>


    @Scripts.Render("~/bundles/jqueryval")

    <div class="courses cards">
        <div class="course" ng-repeat="site in model.Sites">
            <a href="user/{{site.Userid}}/{{site.Url}}">
                <div class="imageratingcontainer" style="position: relative; z-index: 1000">
                    <div id="results" style="background-color: cornflowerblue; color: white; text-align: center;"></div>
                    <div class="blur asset">
                        <img src="{{site.Imagepath}}">
                    </div>
                </div>
            </a>
                <div class="details">

                    <div class="description">
                        <span>@Resource.Description</span><br>
                        <span>{{site.Description}}</span>
                    </div>

                    <div class="title">
                        <span>@Resource.rating</span><br>
                        <span>{{site.Rating.toFixed(2)}}</span>
                    </div>

                    <div class="tagstring">
                        <span>@Resource.Tags</span><br>
                        <span ng-repeat="tag in site.Tags">
                            <span class="label label-success">{{tag}}</span><span> </span>
                        </span>
                    </div>

                    <div class="tagstring" style="text-align: right">
                        <span>Created by:</span><br>
                        <a href="user/{{site.Userid}}"><span>@@{{site.Userid}}</span></a>
                    </div>
                </div>
            
        </div>
    </div>


    <script type="text/javascript">
        $(function() {
            $('#deletebutton')
                .click(function() {
                    $('#ajax-del').submit();
                });
        });
    </script>

</div>


@Scripts.Render("~/bundles/wordcloud")