@model Hypnofrog.DBModels.Site
@using Microsoft.AspNet.Identity
@{
    ViewBag.Preview = true;
    ViewBag.RedactorEnable = true;
    ViewBag.Title = Model.Title;
    ViewBag.SiteId = Model.SiteId;
    Layout = Model.MenuType == "without" ? "~/Views/Shared/_LayoutWM.cshtml" :
        Model.MenuType == "vertical" ? "~/Views/Shared/_LayoutVM.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

<div id="page-redactor" class="fr-view">
    @{Html.RenderPartial(String.Format("_PreviewPage{0}", Model.Pages.FirstOrDefault().TemplateType), Model.Pages.FirstOrDefault());}
</div>
@if (Model.HasComments)
{
    <hr />
    <div class="comments-container">
        <h1>Комментарии</h1>
        <ul class="newlist comments-list">
            @if (ViewBag.UserAvatar != null)
            {
                <li>
                    <div class="comment-main-level">
                        <div class="comment-avatar">
                            <a href="@Url.Action("UserProfile",  new { userid = User.Identity.GetUserName() })">
                                <img src="@ViewBag.UserAvatar" />
                            </a>
                        </div>
                        <div class="comment-box">
                            <div class="comment-head">
                                <span>@User.Identity.GetUserName()</span>

                            </div>
                            <div class="comment-content">
                                @using (Ajax.BeginForm("CommentSite", "Home", new { }, new AjaxOptions() { UpdateTargetId = "comments-list" }, new { @id = "ajaxform" }))
                                {
                                    <div class="row">
                                        <div class="col-md-10 col-sm-10 col-xs-10">
                                            @*fr-element fr-view*@
                                            @Html.AntiForgeryToken()
                                            @Html.TextArea("NewComment", "", new { @id = "newcomid" })
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-2">
                                            <i class="fa fa-paper-plane icons" id="sendbtn"></i>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </li>
            }
            <li>
                <ul id="comments-list">
                    @{Html.RenderPartial("_Comments", Model.Comments);}
                </ul>
            </li>
        </ul>
    </div>
                        }

@section scripts{
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/jquery.highchartTable.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script>
        $(function () {
            $('#sendbtn').click(function () {
                $('#ajaxform').submit();
                $('div.fr-element').empty();
            });
        });
    </script>
    <script>
        $(function () {
            $('#newcomid').froalaEditor({
                toolbarInline: true,
                dragInline: false,
                toolbarButtons: ['emoticons'],
                toolbarButtonsSM: ['emoticons'],
                toolbarButtonsMD: ['emoticons'],
                toolbarButtonsXS: ['emoticons'],
                pluginsEnabled: ['emoticons'],
                theme: "@ViewBag.Style",
                toolbarVisibleWithoutSelection: true,
                heightMin: 50
            });
        });
    </script>
}
