@model IEnumerable<Hypnofrog.DBModels.Site>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "UserProfile";
}
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
@Styles.Render("~/Content/userprofile")


<br>
<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="row">
            <div class="span2 col-lg-2 col-md-3 col-sm-4 col-xs-4">
                <img src="@ViewBag.avatarpath" class="img-circle avatar">
            </div>
            <div class="span8 col-lg-9 col-md-9 col-sm-7 col-xs-7">
                <h3>@ViewBag.Email</h3>
                <h6>Рейтинг: -52</h6>
                <h6>Комментариев: Colombia</h6>
                <h6>Сайтов добавил: @Model.Count()</h6>
            </div>
            @if (ViewBag.Email == User.Identity.Name || User.IsInRole("Admin"))
            {
                <div class="span2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "Manage")"><span class="fa fa-cog fa-3 "></span> Настройки аккаунта</a></li>
                            <li><a href="@Url.Action("Delete", new {id = User.Identity.GetUserId() })"><span class="fa fa-trash fa-3"></span> Удалить аккаунт</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (ViewBag.Email == User.Identity.Name || User.IsInRole("Admin"))
{
    <a type="button" href="@Url.Action("Creating", "Home")" class="btn btn-success modal-link">Добавить сайт</a>
}

@if (Model.Count() > 0)
{
    for (int i = 0; i < Model.Count(); i += 3)
    {
        <div class='courses cards'>
            @for (int j = i; (j < i + 3) && (j < Model.Count()); j++)
            {
                <div class='course'>
                    <div class='blur asset'>
                        <img src='//unsplash.it/400/250?image=@Model.ElementAt(j).SiteId'>
                    </div>
                    <div class='details'>
                        <div class='title'>
                            <span>Название</span>
                            <span>@Model.ElementAt(j).Title</span>
                        </div>
                        <div class='description'>
                            <span>Описание</span>
                            <span>@Model.ElementAt(j).Description</span>
                        </div>
                        <div class='language'>
                            <span>Готовность</span>
                            @if (Model.ElementAt(j).Iscomplited)
                            {
                                <span>
                                    Опубликовано
                                </span>
                            }
                            else
                            {
                                <span style="color:red"> В разработке</span>
                            }
                        </div>
                        @if (ViewBag.Email == User.Identity.Name || User.IsInRole("Admin"))
                        {
                            <span class='actions'>
                                <a href="@Url.Action("PreviewSite", "Home", new { siteid = Model.ElementAt(j).SiteId }) ">
                                    <i class='fa fa-eye'></i>
                                </a>
                                <a href="@Url.Action("EditSite", "Home", new { siteid = Model.ElementAt(j).SiteId }) ">
                                    <i class='fa fa-pencil'></i>
                                </a>
                                <a href="@Url.Action("DeleteSite", "Home", new { siteid = Model.ElementAt(j).SiteId })">
                                    <i class='fa fa-trash'></i>
                                </a>
                            </span>
                        }
                    </div>
                </div>
            }
        </div>
    }
}

<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
