@model IEnumerable<Hypnofrog.DBModels.Site>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Профиль";
}
<link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>
<link href="~/Content/star-rating.css" rel="stylesheet" />
<link href="~/Content/star-rating.min.css" rel="stylesheet" />
<link href="~/Content/userprofilestyle.css" rel="stylesheet" />
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

<script src="~/Scripts/jquery.caret.min.js"></script>
<script src="~/Scripts/jquery.tag-editor.js"></script>
<script src="~/Scripts/jquery.tag-editor.min.js"></script>
<link href="~/Scripts/jquery.tag-editor.css" rel="stylesheet" />


<style>
    body {
        padding-top: 50px;
    }
</style>

<br>
<div class="container-fluid well span6">
    <div class="row-fluid">
        <div class="row">
            <div class="span2 col-lg-2 col-md-3 col-sm-4 col-xs-4">
                <img src="@ViewBag.avatarpath" class="img-circle avatar">
            </div>
            <div class="span8 col-lg-9 col-md-9 col-sm-7 col-xs-7">
                <h3>@ViewBag.Email</h3>
                <h6>Рейтинг: @ViewBag.Rate</h6>
                <h6>Достижений: @ViewBag.howmuchachievments</h6>
                <h6>Сайтов добавил: @Model.Count()</h6>
            </div>
            @if (ViewBag.Email == User.Identity.Name)
            {
                <div class="span2 col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                            <span class="icon-cog icon-white"></span><span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Famehall", "Home")"><span class="fa fa-trophy fa-3 "></span> Мои достижения</a></li>
                            <li><a href="@Url.Action("Index", "Manage")"><span class="fa fa-cog fa-3 "></span> Настройки аккаунта</a></li>
                            <li><a href="@Url.Action("Delete", new {id = User.Identity.GetUserId() })"><span class="fa fa-trash fa-3"></span> Удалить аккаунт</a></li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@if (ViewBag.Email == User.Identity.Name)
{
    <a type="button" href="@Url.Action("Creating", "Home")" class="btn btn-success modal-link">Добавить сайт</a>
}
   <hr />

    <div id="site-table">
        @{ Html.RenderPartial("_SiteTable", Model);}
    </div>


    @section scripts{
        <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
        <script src="~/Scripts/star-rating.js"></script>
        <script src="~/Scripts/star-rating.min.js"></script>
        <script src="~/Content/themes/krajee-svg/theme.js"></script>
    }
