<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/dropzonescss")
    @Styles.Render("~/bundles/verticalstyle")
</head>
<body>
    <div id="navbar" class="navbar navbar-inverse navbar-fixed-top">
        
        <ul class="nav nav-stacked" id="menu-bar">
                <li>@Html.ActionLink("Hypnofrog", "Index", "Home", new { @style = "font-size: 18px;" })</li>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                @if (User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Администрирование", "Admin", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Пользователи", "Users", "Home")</li>
                }
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="clearfix"></div>
    <div class="content">
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/jquery-ui")
        @Scripts.Render("~/bundles/popup")
        @Scripts.Render("~/bundles/vertical")
        @Scripts.Render("~/bundles/tinymcescripts")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/bundles/dropzonescripts")
        <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
            <div id="modal-content">
            </div>
        </div>
</body>
</html>

