@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <li>
            @Html.ActionLink(Resources.Resource.hi + User.Identity.GetUserName() + "!", "UserProfile", "Home", new { userid = User.Identity.GetUserName() }, htmlAttributes: new { title = "Manage" })
        </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Resource.Logout</a></li>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            @Resources.Resource.Language
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Русский</a></li>
                            <li><a href="#">Английский</a></li>
                        </ul>
                    </li>
                </ul>
    }
}
else
{
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Язык
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#">Русский</a></li>
                <li><a href="#">Английский</a></li>
            </ul>
        </li>
    </ul>


}